<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">


<gazebo reference="l_Lidar__U_001">
	<sensor type="camera" name="camera">
		<camera>
			<horizontal_fov>1.047</horizontal_fov>
			<image>
				<width>320</width>
				<height>240</height>
			</image>
			<clip>
				<near>0.1</near>
				<far>100.0</far>
			</clip>
			<save enabled="false">
				<path>/tmp/camera_data</path>
			</save>
			<triggered>false</triggered>
			<trigger_topic>camera/trigger</trigger_topic>
		</camera>
		<always_on>true</always_on>
		<update_rate>30.0</update_rate>
		<visualize>true</visualize>
		<topic>camera</topic>
		<enable_metrics>true</enable_metrics>
	</sensor>
</gazebo>

</robot>
